<div class="sample">
    <img src="./assets/profile.svg">
    
</div>
<div class="demo">
    <div class="nav">
        <div class="time">
            10:23
        </div>
        <div class="connections">
            <img src="./assets/connenctions2.svg">
        </div>
    </div>
    <div class="profile">
        <img src="./assets/elipse.svg">
    </div>
    <div class="jane">Jane</div>
    <div class="ca"><h4>SAN FRANCISCO, CA</h4></div>
    <div class="btn">
        <button type="button">FOLLOW JANE</button>
    </div>
    <div class="msg">
        <button type="button">MESSAGE</button>
    </div>
    <div class="img1">
        <img src="./assets/img1.svg">
    </div>
    <div class="img2">
        <img src="./assets/img2.svg">
    </div>
    <div class="img3">
        <img src="./assets/img3.svg">
    </div>
    <div class="img4">
        <img src="./assets/img4.svg">
    </div>
    <div class="img5">
        <img src="./assets/img5.svg">
    </div>
    <div class="img6">
        <img src="./assets/img6.svg">
    </div>
    <div class="btn3">
        <button type="button">SEE MORE</button>
    </div>
    <div class="footer">
        <div class="home"><img src="./assets/home.svg"></div>
        <div class="search"> <img src="./assets/search.svg"></div>
        <div class="insta"><img src="./assets/insta.svg"></div>
        <div class="comment"><img src="./assets/comment.svg"></div>
        <div class="person"><img src="./assets/person.svg"></div>
        <div class="shape"><img src="./assets/shape.svg"></div>
    </div>
</div>