<div class="sample">
    <div class="nav">
        <div class="time"><p>10:23</p></div>
        <div class="icons">
            <img src="./assets/connections.svg">
            <img src="./assets/wifi.svg">
            <img src="./assets/battery.svg">
        </div>
    </div>
    <div class="search">
        <h2>Search</h2>
    </div>
    <div class="inputbox">
        <input type="text">
    </div>
    <div class="results">
        <h6>ALL RESULTS</h6>
    </div>

    <div class="images">
        <img src="./assets/pic1.svg">
        <img src="./assets/pic2.svg">
        <img src="./assets/pic3.svg">
    </div>
    <div class="images">
        <img src="./assets/pic1.svg">
        <img src="./assets/pic2.svg">
        <img src="./assets/pic3.svg">
    </div>
    <div class="images">
        <img src="./assets/pic1.svg">
        <img src="./assets/pic2.svg">
        <img src="./assets/pic3.svg">
    </div>
    <div class="images">
        <img src="./assets/pic1.svg">
        <img src="./assets/pic2.svg">
        <img src="./assets/pic3.svg">
    </div>
    <div class="images">
        <img src="./assets/pic1.svg">
        <img src="./assets/pic2.svg">
        <img src="./assets/pic3.svg">
    </div>
    <div class="seemore">
        <button>SEE MORE</button>
    </div>
    <div class="footer">
        <img src="./assets/home.svg">
        <img src="./assets/search.svg">
        <img src="./assets/insta.svg">
        <img src="./assets/comment.svg">
        <img src="./assets/person.svg">
    </div>
</div>